.app.light {
  --bg-color: #ececec;
  --inverted-bg-color: #2525d0;

  --primary-color: #2b2b75;
  --secondary-color: #5050e1;
  --inverted-primary-color: #2dbd2d;
  --inverted-secondary-color: #67fd67;
}